<ion-header>
  <ion-navbar>
    <ion-title>
      Mi Pass
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="text-center text-bold">Para comenzar</h5>
        <p class="px-25 text-center">Si eres cliente del Banco de Chile, Banco Edwards | Citi o Banco Credichile Activa
          Mi Pass con tu Rut y clave internet</p>
        <div class="white-box mt-30">
          <div class="row">
            <div class="col p-10 border-bottom">
              <p class="margin-none">RUT</p>
              <input class="border-none" type="textbox" placeholder="Ingrese su RUT">
            </div>
          </div>
          <div class="row">
            <div class="col p-10 border-bottom">
              <p class="margin-none">CLAVE INTERNET</p>
              <input class="border-none" type="textbox" placeholder="Ingrese su clave">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="button-container">
                <a class="btn button-primary" (click)="changePage()">Activar Mi Pass</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</ion-content>
