.button-container{
    width: 100%;
    text-align: center;
    padding: 10px;
}

.btn{
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 2px;
    text-transform: uppercase;
    &.button-primary{
        background-color: $default-blue;
        color: #FFFFFF;
    }
    &.button-neutral{
        background-color: #FFFFFF;
        color: #536373;
    }
    &.button-empty{
        background-color: transparent;
        color: #536373;
    }
}