/* PADDINGS Y MARGINS */
@for $i from 0 through 10 {

  /* BLOQUE DE HELPERS DE #{$i*5}px */
  .pt-#{$i*5} {
    padding-top: #{$i*5}px !important
  }

  .pr-#{$i*5} {
    padding-right: #{$i*5}px !important
  }

  .pb-#{$i*5} {
    padding-bottom: #{$i*5}px !important
  }

  .pl-#{$i*5} {
    padding-left: #{$i*5}px !important
  }

  .px-#{$i*5} {
    padding-right: #{$i*5}px !important;
    padding-left: #{$i*5}px !important;
  }

  .py-#{$i*5} {
    padding-top: #{$i*5}px !important;
    padding-bottom: #{$i*5}px !important;
  }

  .p-#{$i*5} {
    padding: #{$i*5}px !important
  }

  .mt-#{$i*5} {
    margin-top: #{$i*5}px !important
  }

  .mr-#{$i*5} {
    margin-right: #{$i*5}px !important
  }

  .mb-#{$i*5} {
    margin-bottom: #{$i*5}px !important
  }

  .ml-#{$i*5} {
    margin-left: #{$i*5}px !important
  }

  .mx-#{$i*5} {
    margin-right: #{$i*5}px !important;
    margin-left: #{$i*5}px !important;
  }

  .my-#{$i*5} {
    margin-top: #{$i*5}px !important;
    margin-bottom: #{$i*5}px !important;
  }

  .m-#{$i*5} {
    margin: #{$i*5}px !important
  }
}

@for $i from 10 through 24 {
  .text-#{$i} {
    font-size: #{$i}px;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left
}

.text-justify {
  text-align: justify;
}

.text-bold {
  font-weight: bold;
}

.text-blue {
  color: $default-blue;
}

.text-white{
  color: #FFF !important;
}
.text-gray{
  color: #536374 !important;
}

.border {
  border: 1px solid #f5f5f5 !important
}

.border-top {
  border-top: 1px solid #f5f5f5 !important
}

.border-right {
  border-right: 1px solid #f5f5f5 !important
}

.border-bottom {
  border-bottom: 1px solid #f5f5f5 !important
}

.border-left {
  border-left: 1px solid #f5f5f5 !important
}

.border-dark {
  border: 1px solid #D1D8E1 !important
}

.border-top-dark {
  border-top: 1px solid #D1D8E1 !important
}

.border-right-dark {
  border-right: 1px solid #D1D8E1 !important
}

.border-bottom-dark {
  border-bottom: 1px solid #D1D8E1 !important
}

.border-left-dark {
  border-left: 1px solid #D1D8E1 !important
}

.border-none {
  border: none;
}

.border-blue {
  border-color: $default-blue !important;
}


.padding-none {
  padding: 0px;
}

.margin-none {
  margin: 0px;
}

.no-shadow {
  box-shadow: none !important;
}

.no-wrap {
  white-space: nowrap;
}

.h-100 {
  height: 100%
}

@for $i from 0 through 10 {
  .w-#{$i*10} {
    width: #{$i*10%};
  }
}


.m-auto {
  margin: auto;
}


.disabled{
  background-color: #f5f5f5 !important;
  p{
    color: #bec1c5 !important;
  }
}