<ion-header class="blue-header">
    <ion-navbar>
      <ion-title>
        Autenticar con Mi Pass
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <div class="container">
      <div class="row">
        <div class="col">
          <!-- <h5 class="text-center text-bold">Dispositivo de seguridad</h5>
          <p class="px-25 text-center">Ingresa el código de tu dispositivo de seguridad para activar Mi Pass</p> -->
          <div class="white-box mt-30">
            <div class="row">
              <div class="col p-10 border-bottom">
                <p class="margin-none">CLAVE MI PASS</p>
                <input class="border-none" type="textbox" placeholder="••••••">
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="button-container px-5">
                  <a class="btn button-neutral">Ahora no</a>
                </div>
              </div>
              <div class="col">
                <div class="button-container px-5">
                  <a class="btn button-primary no-wrap" (click)="takePicture()">Continuar</a>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </ion-content>