<ion-content>
  <img [src]="picture" *ngIf="picture" style="height: 100%; width: 100%; position: absolute" (click)="changePage()" />
  <div class="container h-100">
    <div class="row h-100">
      <div class="col h-100">
        <div class="frame" style="width: 100%; height: 100%; position: relative">
            <div class="button-container" style="position: absolute; bottom: 35px;">
              <a class="btn button-neutral" (click)="changePage()">Guardar</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</ion-content>
