page-picture-confirm {
  ion-content {
    border-bottom: none;

    .frame {
      &:before {
        content: '';
        height: 90%;
        display: block;
        width: 85%;
        border: 1px solid #15ce15;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 30px;
      }
    }

    .button-container {
      width: 80%;
      margin: auto;
      text-align: center;
      padding: 10px;
      left: 0;
      right: 0;
      bottom: 50px;
      position: absolute;
    }
  }
}
