<ion-header class="blue-header">
  <ion-navbar hideBackButton="true">
    <ion-title>
      Mi Pass
    </ion-title>
    <button ion-button icon-only menuToggle end> <!-- icon-only -->
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="home-top py-20">
    <p class="text-center margin-none">Hola, Fernando Escobar
    </p>
  </div>
  <div padding class="container">
    <div class="row">
      <div class="col">
        <p class="border-bottom-dark pb-5 mt-0"> POR AUTORIZAR </p>
        <p class="text-center w-60 mt-50 pt-50 m-auto">Para autorizar transacciones con Mi Pass, utiliza tus
          aplicaciones del Banco de Chile</p>




<!--           <div class="mipass-icons pb-10 text-18" (click)="changePage()"><ion-icon name="settings"></ion-icon></div>
 -->
      </div>
    </div>
  </div>
</ion-content>


<ion-footer>

  <div class="row">
    <div class="col px-15 text-right">
        <div class="mipass-icons py-10 text-18" (click)="changePage()"><ion-icon name="settings"></ion-icon></div>

    </div>
  </div>
 

  
</ion-footer>


 <!--  <button ion-button menuToggle end>
    <ion-icon name="menu"></ion-icon>
  </button> -->