page-home {
    .home-top{
        background-color: #FFF !important;
    }

    ion-footer {
        background-color: #F0F2F5 !important;

        ion-icon {
            color: #797b7d !important;
        }
    }
}
