<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Configuración</ion-title>
    <!-- <a class="modal-close" (click)="closeModal()">
      <ion-icon name="md-close" class="text-gray text-20"></ion-icon>
    </a> -->
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="white-box mt-30">
          <div class="row">
            <div class="col p-20 border-bottom" (click)="takePicture()">
              <p class="margin-none">Configurar reconocimiento de rostro</p>
            </div>
          </div>
          <div class="row">
            <div class="col p-20 border-bottom disabled">
              <p class="margin-none">Cambiar Clave</p>
            </div>
          </div>
          <div class="row">
            <div class="col p-20 disabled">
              <p class="margin-none">Acerca De</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
