<ion-header class="blue-header">
    <ion-navbar>
      <ion-title>
        Activar Mi Pass
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <div class="container">
      <div class="row">
        <div class="col">
          <h5 class="text-center text-bold">Crear clave Mi Pass</h5>
          <p class="px-50 text-center">Debes crear una clave de 6 dígitos para utilizar Mi Pass</p>
          <p class="px-25 text-center text-bold">Esta clave nunca será solicitada por teléfono</p>
          <div class="white-box mt-30">
            <div class="row">
              <div class="col p-10 border-bottom">
                <p class="margin-none">Crear Clave Mi Pass</p>
                <input class="border-none" type="textbox" placeholder="••••••">
              </div>
            </div>
            <div class="row">
              <div class="col p-10 border-bottom">
                <p class="margin-none">Repetir Clave Mi Pass</p>
                <input class="border-none" type="textbox" placeholder="••••••">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="button-container">
                  <a class="btn button-empty" (click)="changePage()">Cancelar</a>
                </div>
              </div>
              <div class="col">
                  <div class="button-container">
                    <a class="btn button-primary" (click)="changePage()">Activar</a>
                  </div>
                </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  