<ion-menu [content]="contenido" side="right" persistent="true"> <!-- persistent="true" -->
  <ion-content>
      <div class="menu-header">
          <p class="margin-none px-20 pt-15 text-bold text-16">Fernando Escobar</p>
          <p class="margin-none px-20 pb-20 text-12">21 de noviembre de 2018</p>
          <div class="mipass-buttons px-20">
              <div class="mipass-icons pb-10 text-18" (click)="changePage()"><ion-icon name="settings"></ion-icon></div>
          </div>
      </div>
    <ion-list>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #contenido [root]="rootPage"></ion-nav>
