// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url('https://fonts.googleapis.com/css?family=Lato');
@import "../assets/scss/colors";
@import "../assets/scss/helpers";
@import "../assets/scss/buttons";

body,
ion-app.ios {
  font-family: 'Lato', sans-serif !important;
}

h5 {
  color: #536373;
}

p {
  color: #536374;
  font-size: 1.7rem;
}

.btn.button-neutral {
  color: $bit-darker-blue;
  font-weight: bold;
}

.btn.button-primary {
  background-color: $bit-darker-blue;
  color: #FFFFFF;
}

ion-content {
  border-bottom: #536373 solid 10px;
  background-color: #F0F2F5 !important;
}

ion-content {
  border-bottom: #536373 solid 10px;
  background-color: #F0F2F5 !important;
}

ion-header {
  &.blue-header {
    .toolbar-background {
      background-color: $bit-darker-blue;
    }

    .toolbar-title,
    .back-button {
      color: #FFF !important;
    }
  }
}

.white-box {
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.75);
}

ion-backdrop {
  opacity: 0.8 !important;
}

.alert-wrapper {
  border-radius: 0px !important;
  background-color: transparent !important;
  box-shadow: none !important;

  .alert-title,
  .alert-sub-title {
    color: #FFF !important;
    text-align: center;
  }

  .alert-title{
      margin-bottom: 15px;
  }

  .alert-button {
    border-top: none !important;
    margin-top: 15px;
    background-color: #FFF !important;
    color: #536373 !important;
    border-radius: 0px !important;
    width: 100% !important;
    span{
        justify-content: center !important;
    }
  }
}

.bar-button-menutoggle-ios,
.bar-button-menutoggle{
  color: #FFF !important;
}


ion-menu {
  ion-content {
    .scroll-content {
      background-color: #3B4757 !important;
      .menu-header{
          background-color: #262E39;
          p{
              color: #FFF;
          }
          .mipass-buttons{
              text-align: right;
              .mipass-icons{
                  color: #687C92 !important;
              }
          }
      }
    }
  }
}

.modal-close{
    position: absolute;
    right: 22px;
    top: 19px;
}