<!--
  Generated template for the PhoneConfirmPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="blue-header">

  <ion-navbar>
    <ion-title>Activar Mi Pass</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="text-center text-bold">Confirmar número celular</h5>
        <p class="px-25 text-center">Al finalizar el registro te llamaremos para entregarte un código de activación al
          siguiente número registrado</p>
        <div class="white-box border border-blue no-shadow">
          <div class="row">
            <div class="col px-10 py-15 text-center" col-2> <ion-icon name="phone-portrait"></ion-icon> </div>
            <div class="col px-10 py-15" col-5> <p class="text-blue margin-none padding-none"> Nº Celular: </p> </div>
            <div class="col px-10 py-15 text-right" col-5> <p class="text-bold text-blue margin-none padding-none"> XXXX1234 </p> </div>
          </div>
        </div>
        <p class="px-25 text-center text-bold"> ¿Deseas confirmar este número? </p>
      </div>
    </div>
    <div class="row">
        <div class="col" col-3>
          <div class="button-container px-0">
            <a class="btn button-neutral">No</a>
          </div>
        </div>
        <div class="col" col-9>
            <div class="button-container px-0">
              <a class="btn button-primary" (click)="changePage()">Sí, confirmar</a>
            </div>
          </div>
      </div>
  </div>
</ion-content>
