<!--
  Generated template for the PageConfirmarFotografiaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="blue-header">

  <ion-navbar>
    <ion-title>Activar Mi Pass</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="row">
    <div class="col px-25">
        <h5 class="text-center text-bold">¿Se ve bien esta foto?</h5>
        <p class="text-center mb-20 font">Verifica que tu foto quedó sin desenfoques, ni cortes ni reflejos</p>
        <img [src]="picture" class="mb-20">
    </div>
  </div>

  <div class="row">
    <div class="col px-25">

      <div class="row">
        <div class="col pl-0" col-6>
          <div class="button-container px-0">
            <a class="btn button-neutral" (click)="repetirFoto()">Repetir</a>
          </div>
        </div>
        <div class="col pr-0" col-6>
          <div class="button-container px-0">
            <a class="btn button-primary" (click)="changePage()">Guardar</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  
</ion-content>
