<ion-header>
  <ion-navbar>
    <ion-title>
      Activar Mi Pass
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="text-center text-bold">Ingresar SMS</h5>
        <p class="px-25 text-center">Para comenzar a utilizar Mi Pass ingresa el SMS que será enviado</p>
        <div class="white-box mt-30">
          <div class="row">
            <div class="col p-10 border-bottom">
              <p class="margin-none">Ingresar código SMS</p>
              <input class="border-none mt-10" type="textbox" placeholder="••••••">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="button-container">
                <a class="btn button-primary" (click)="changePage()">Continuar</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</ion-content>
