<!--
  Generated template for the PageAutorizarTomaDeFoto2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="blue-header">
    <ion-navbar>
      <ion-title>
        Guarda tu rostro
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <div class="container">
      <div class="row">
        <div class="col">
          <h5 class="text-center text-bold">Tu rostro como autenticación
          </h5>
          <p class="px-50 text-center">Guarda <b>tu rostro como un paso adicional de autenticidad</b> para aumentar la
            seguridad de Mi Pass</p>
          <p class="px-25 text-center">¿Deseas tomarte una foto?</p>
          <div class="row">
            <div class="col">
              <div class="button-container px-5">
                <a class="btn button-neutral">Ahora no</a>
              </div>
            </div>
            <div class="col">
              <div class="button-container px-5">
                <a class="btn button-primary no-wrap" (click)="takePicture()">Sí, continuar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
